<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记事本</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <section id="todoapp">
         <hearder>
            <h1>记事本</h1>
            <input v-model="inputValue" @keyup.enter="add" autofocus="autofocus" autocomplete="off"  placeholder="请输入内容">
         </hearder>
        <section>
            <ul>
                <li v-for="(item,index) in list">
                    <div>
                        <span>{{index+1}}.</span>
                        <lable>{{item}}</lable>
                        <button @click="sub(index)">*</button>
                    </div>
                </li>
            </ul>
        </section>
        <!-- 统计和清空 -->
        <footer>
            <span v-if="list.length!=0"><strong>{{list.length}}</strong>item left</span>
            <button v-show="list.length!=0" @click="del">Clear</button>
        </footer>
     </section>
     <!-- 底部 -->
     <footer>
     </footer>
     <script>
         var app = new Vue({
             el:"#todoapp",
             data:{
                list:["写代码","吃饭","睡觉"],
                inputValue:"好好学习，天天向上"
             },
             methods:{
              add:function(){     //添加
                  this.list.push(this.inputValue)
              },
              sub:function(index){    //删除
                this.list.splice(index,1);   
              },
              del:function(){     //清空
                  this.list = []
              }
             },
         })
     </script>
</body>
</html>